{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.hubapi.com/extensions/ecomm"
        }
    ],
    "info": {
        "description": "The ECommerce Bridge provides a process for syncing eCommerce data into HubSpot by defining mappings from your data schema to what is stored in HubSpot and applying those mappings each time data is sent. To learn more about the motivations, use cases, and see a walkthrough, check out [the overview docs](https://git.hubteam.com/HubSpot/IntegrationsPlatform-ECommBridge/blob/master/docs/api/reference.md)",
        "version": "v1",
        "title": "ECommerce Bridge"
    },
    "tags": [
        {
            "name": "Install",
            "description": "Install or uninstall the ECommerce Bridge in your HubSpot portal. Not needed for app developers."
        },
        {
            "name": "Settings",
            "description": "Configuration settings for your application or portal"
        },
        {
            "name": "Batch Import",
            "description": "Synchronize eCommerce Data to HubSpot in large batches"
        },
        {
            "name": "Sync",
            "description": "Synchronize changes in eCommerce Data to HubSpot"
        }
    ],
    "paths": {
        "/v1/import-pages/{importStartedAt}/{objectType}/end": {
            "put": {
                "tags": [
                    "Batch Import"
                ],
                "description": "Signal the end of an import for a given {objectType}. Once this call has been made, HubSpot will start processing the data for {objectType} within the context of this import.",
                "operationId": "put-/extensions/ecomm/v1/import-pages/{importStartedAt}/{objectType}/end",
                "parameters": [
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "CONTACT",
                                "COMPANY",
                                "DEAL",
                                "ENGAGEMENT",
                                "TICKET",
                                "OWNER",
                                "PRODUCT",
                                "LINE_ITEM",
                                "BET_DELIVERABLE_SERVICE",
                                "CONTENT",
                                "CONVERSATION",
                                "BET_ALERT",
                                "PORTAL",
                                "QUOTE",
                                "FORM_SUBMISSION_INBOUNDDB",
                                "QUOTA",
                                "UNSUBSCRIBE",
                                "COMMUNICATION",
                                "FEEDBACK_SUBMISSION",
                                "ATTRIBUTION",
                                "SALESFORCE_SYNC_ERROR",
                                "RESTORABLE_CRM_OBJECT",
                                "HUB",
                                "LANDING_PAGE",
                                "UNKNOWN"
                            ]
                        }
                    },
                    {
                        "name": "importStartedAt",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "An Error Occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "requestId",
                                        "status"
                                    ],
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error",
                                            "description": "The string \"error\""
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "An error occurred",
                                            "description": "A human readable message describing the error along with remediation steps where appropriate"
                                        },
                                        "requestId": {
                                            "type": "string",
                                            "example": "57b91660deded96e827d7ef9535988a5",
                                            "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                                            "pattern": "[a-zA-Z0-9]{32}"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "integration-sync"
                        ]
                    },
                    {
                        "hapikey": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "itemCount",
                                    "pageCount"
                                ],
                                "properties": {
                                    "pageCount": {
                                        "type": "integer"
                                    },
                                    "itemCount": {
                                        "type": "integer"
                                    }
                                },
                                "example": {
                                    "pageCount": 12,
                                    "itemCount": 1182
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/import-pages/{importStartedAt}/{objectType}/{pageNumber}": {
            "get": {
                "tags": [
                    "Batch Import"
                ],
                "description": "Retrieve a previously sent page of data from a batch import.",
                "operationId": "get-/extensions/ecomm/v1/import-pages/{importStartedAt}/{objectType}/{pageNumber}",
                "parameters": [
                    {
                        "name": "pageNumber",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "CONTACT",
                                "COMPANY",
                                "DEAL",
                                "ENGAGEMENT",
                                "TICKET",
                                "OWNER",
                                "PRODUCT",
                                "LINE_ITEM",
                                "BET_DELIVERABLE_SERVICE",
                                "CONTENT",
                                "CONVERSATION",
                                "BET_ALERT",
                                "PORTAL",
                                "QUOTE",
                                "FORM_SUBMISSION_INBOUNDDB",
                                "QUOTA",
                                "UNSUBSCRIBE",
                                "COMMUNICATION",
                                "FEEDBACK_SUBMISSION",
                                "ATTRIBUTION",
                                "SALESFORCE_SYNC_ERROR",
                                "RESTORABLE_CRM_OBJECT",
                                "HUB",
                                "LANDING_PAGE",
                                "UNKNOWN"
                            ]
                        }
                    },
                    {
                        "name": "importStartedAt",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "integratorObjectId",
                                            "propertyNameToValues"
                                        ],
                                        "properties": {
                                            "integratorObjectId": {
                                                "type": "string"
                                            },
                                            "propertyNameToValues": {
                                                "type": "object",
                                                "additionalProperties": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "example": {
                                            "integratorObjectId": "12345",
                                            "propertyNamesToValues": {
                                                "given_name": "Mary",
                                                "family_name": "Smith"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An Error Occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "requestId",
                                        "status"
                                    ],
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error",
                                            "description": "The string \"error\""
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "An error occurred",
                                            "description": "A human readable message describing the error along with remediation steps where appropriate"
                                        },
                                        "requestId": {
                                            "type": "string",
                                            "example": "57b91660deded96e827d7ef9535988a5",
                                            "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                                            "pattern": "[a-zA-Z0-9]{32}"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "integration-sync"
                        ]
                    },
                    {
                        "hapikey": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Batch Import"
                ],
                "description": "Send a page of data for batch import. You are responsible for ensuring the uniqueness of the pageNumber within an importStartedAt/objectType combination.",
                "operationId": "put-/extensions/ecomm/v1/import-pages/{importStartedAt}/{objectType}/{pageNumber}",
                "parameters": [
                    {
                        "name": "pageNumber",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "objectType",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "CONTACT",
                                "COMPANY",
                                "DEAL",
                                "ENGAGEMENT",
                                "TICKET",
                                "OWNER",
                                "PRODUCT",
                                "LINE_ITEM",
                                "BET_DELIVERABLE_SERVICE",
                                "CONTENT",
                                "CONVERSATION",
                                "BET_ALERT",
                                "PORTAL",
                                "QUOTE",
                                "FORM_SUBMISSION_INBOUNDDB",
                                "QUOTA",
                                "UNSUBSCRIBE",
                                "COMMUNICATION",
                                "FEEDBACK_SUBMISSION",
                                "ATTRIBUTION",
                                "SALESFORCE_SYNC_ERROR",
                                "RESTORABLE_CRM_OBJECT",
                                "HUB",
                                "LANDING_PAGE",
                                "UNKNOWN"
                            ]
                        }
                    },
                    {
                        "name": "importStartedAt",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "integratorObjectId",
                                            "propertyNameToValues"
                                        ],
                                        "properties": {
                                            "integratorObjectId": {
                                                "type": "string"
                                            },
                                            "propertyNameToValues": {
                                                "type": "object",
                                                "additionalProperties": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "example": {
                                            "integratorObjectId": "12345",
                                            "propertyNamesToValues": {
                                                "given_name": "Mary",
                                                "family_name": "Smith"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An Error Occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "requestId",
                                        "status"
                                    ],
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error",
                                            "description": "The string \"error\""
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "An error occurred",
                                            "description": "A human readable message describing the error along with remediation steps where appropriate"
                                        },
                                        "requestId": {
                                            "type": "string",
                                            "example": "57b91660deded96e827d7ef9535988a5",
                                            "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                                            "pattern": "[a-zA-Z0-9]{32}"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "integration-sync"
                        ]
                    },
                    {
                        "hapikey": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "required": [
                                        "integratorObjectId",
                                        "propertyNameToValues"
                                    ],
                                    "properties": {
                                        "integratorObjectId": {
                                            "type": "string"
                                        },
                                        "propertyNameToValues": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "example": {
                                        "integratorObjectId": "12345",
                                        "propertyNamesToValues": {
                                            "given_name": "Mary",
                                            "family_name": "Smith"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/import-settings": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "description": "Read the import settings, such as import URI that will be called when an import starts for a given app. Use your Developer HAPI Key to make this request.",
                "operationId": "get-/extensions/ecomm/v1/import-settings",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "importTriggerUri"
                                    ],
                                    "properties": {
                                        "importTriggerUri": {
                                            "type": "string",
                                            "example": "https://my.example.com/hubspot/ecomm/import-callback",
                                            "description": "The URI of your service that will be called when an import begins."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An Error Occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "requestId",
                                        "status"
                                    ],
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error",
                                            "description": "The string \"error\""
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "An error occurred",
                                            "description": "A human readable message describing the error along with remediation steps where appropriate"
                                        },
                                        "requestId": {
                                            "type": "string",
                                            "example": "57b91660deded96e827d7ef9535988a5",
                                            "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                                            "pattern": "[a-zA-Z0-9]{32}"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "hapikey": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Settings"
                ],
                "description": "Update the import settings, such as import URI that will be called when an import starts for a given app. Use your Developer HAPI Key to make this request.",
                "operationId": "put-/extensions/ecomm/v1/import-settings",
                "parameters": [
                    {
                        "name": "appId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "importTriggerUri"
                                    ],
                                    "properties": {
                                        "importTriggerUri": {
                                            "type": "string",
                                            "example": "https://my.example.com/hubspot/ecomm/import-callback",
                                            "description": "The URI of your service that will be called when an import begins."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An Error Occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "requestId",
                                        "status"
                                    ],
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error",
                                            "description": "The string \"error\""
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "An error occurred",
                                            "description": "A human readable message describing the error along with remediation steps where appropriate"
                                        },
                                        "requestId": {
                                            "type": "string",
                                            "example": "57b91660deded96e827d7ef9535988a5",
                                            "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                                            "pattern": "[a-zA-Z0-9]{32}"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "hapikey": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "importTriggerUri"
                                ],
                                "properties": {
                                    "importTriggerUri": {
                                        "type": "string",
                                        "example": "https://my.example.com/hubspot/ecomm/import-callback",
                                        "description": "The URI of your service that will be called when an import begins."
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/installs": {
            "post": {
                "tags": [
                    "Install"
                ],
                "description": "Enable eCommerce functionality and add eCommerce properties, reporting dashboard, and email templates to your portal. Use your portal HAPI Key to make this request.",
                "operationId": "post-/extensions/ecomm/v1/installs",
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "default": {
                        "description": "An Error Occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "requestId",
                                        "status"
                                    ],
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error",
                                            "description": "The string \"error\""
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "An error occurred",
                                            "description": "A human readable message describing the error along with remediation steps where appropriate"
                                        },
                                        "requestId": {
                                            "type": "string",
                                            "example": "57b91660deded96e827d7ef9535988a5",
                                            "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                                            "pattern": "[a-zA-Z0-9]{32}"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "hapikey": []
                    }
                ]
            }
        },
        "/v1/installs/status": {
            "get": {
                "tags": [
                    "Install"
                ],
                "description": "Check whether your portal has settings enabled and eCommerce functionality installed. Your portal will not be able to receive sync messages until both are true. Use your portal HAPI Key to make this request.",
                "operationId": "get-/extensions/ecomm/v1/installs/status",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "ecommSettingsEnabled",
                                        "installCompleted"
                                    ],
                                    "properties": {
                                        "installCompleted": {
                                            "type": "boolean"
                                        },
                                        "ecommSettingsEnabled": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An Error Occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "requestId",
                                        "status"
                                    ],
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error",
                                            "description": "The string \"error\""
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "An error occurred",
                                            "description": "A human readable message describing the error along with remediation steps where appropriate"
                                        },
                                        "requestId": {
                                            "type": "string",
                                            "example": "57b91660deded96e827d7ef9535988a5",
                                            "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                                            "pattern": "[a-zA-Z0-9]{32}"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "hapikey": []
                    }
                ]
            }
        },
        "/v1/installs/uninstall": {
            "post": {
                "tags": [
                    "Install"
                ],
                "description": "Disable eCommerce specific functionality, such as eCommerce workflows, from your portal. Use your portal HAPI Key to make this request.",
                "operationId": "post-/extensions/ecomm/v1/installs/uninstall",
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "default": {
                        "description": "An Error Occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "requestId",
                                        "status"
                                    ],
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error",
                                            "description": "The string \"error\""
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "An error occurred",
                                            "description": "A human readable message describing the error along with remediation steps where appropriate"
                                        },
                                        "requestId": {
                                            "type": "string",
                                            "example": "57b91660deded96e827d7ef9535988a5",
                                            "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                                            "pattern": "[a-zA-Z0-9]{32}"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "hapikey": []
                    }
                ]
            }
        },
        "/v1/settings": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "description": "Read the sync settings for a given app or portal. As an application developer, use your developer HAPI Key to make this request. As a customer developer, use your portal HAPI Key to make this request.",
                "operationId": "get-/extensions/ecomm/v1/settings",
                "parameters": [
                    {
                        "name": "showProvidedProperties",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "appId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "contactSyncSettings",
                                        "dealSyncSettings",
                                        "enabled",
                                        "importOnInstall",
                                        "lineItemSyncSettings",
                                        "productSyncSettings"
                                    ],
                                    "properties": {
                                        "enabled": {
                                            "type": "boolean"
                                        },
                                        "importOnInstall": {
                                            "type": "boolean"
                                        },
                                        "productSyncSettings": {
                                            "type": "object",
                                            "required": [
                                                "properties"
                                            ],
                                            "properties": {
                                                "properties": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "required": [
                                                            "dataType",
                                                            "propertyName",
                                                            "targetHubspotProperty"
                                                        ],
                                                        "properties": {
                                                            "propertyName": {
                                                                "type": "string",
                                                                "example": "given_name",
                                                                "description": "The name of the data field as defined in your system."
                                                            },
                                                            "dataType": {
                                                                "type": "string",
                                                                "example": "STRING",
                                                                "description": "The type of this property. One of STRING, NUMBER, DATETIME, AVATAR_IMAGE.",
                                                                "enum": [
                                                                    "STRING",
                                                                    "NUMBER",
                                                                    "DATETIME",
                                                                    "AVATAR_IMAGE"
                                                                ],
                                                                "x-hubspot-external-project-origin": true
                                                            },
                                                            "targetHubspotProperty": {
                                                                "type": "string",
                                                                "example": "firstname",
                                                                "description": "The internal name of the HubSpot property to map to."
                                                            }
                                                        },
                                                        "description": "Defines a mapping between a property in your system and a property in the HubSpot CRM."
                                                    }
                                                }
                                            }
                                        },
                                        "dealSyncSettings": {
                                            "type": "object",
                                            "required": [
                                                "properties"
                                            ],
                                            "properties": {
                                                "properties": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "required": [
                                                            "dataType",
                                                            "propertyName",
                                                            "targetHubspotProperty"
                                                        ],
                                                        "properties": {
                                                            "propertyName": {
                                                                "type": "string",
                                                                "example": "given_name",
                                                                "description": "The name of the data field as defined in your system."
                                                            },
                                                            "dataType": {
                                                                "type": "string",
                                                                "example": "STRING",
                                                                "description": "The type of this property. One of STRING, NUMBER, DATETIME, AVATAR_IMAGE.",
                                                                "enum": [
                                                                    "STRING",
                                                                    "NUMBER",
                                                                    "DATETIME",
                                                                    "AVATAR_IMAGE"
                                                                ],
                                                                "x-hubspot-external-project-origin": true
                                                            },
                                                            "targetHubspotProperty": {
                                                                "type": "string",
                                                                "example": "firstname",
                                                                "description": "The internal name of the HubSpot property to map to."
                                                            }
                                                        },
                                                        "description": "Defines a mapping between a property in your system and a property in the HubSpot CRM."
                                                    }
                                                }
                                            }
                                        },
                                        "lineItemSyncSettings": {
                                            "type": "object",
                                            "required": [
                                                "properties"
                                            ],
                                            "properties": {
                                                "properties": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "required": [
                                                            "dataType",
                                                            "propertyName",
                                                            "targetHubspotProperty"
                                                        ],
                                                        "properties": {
                                                            "propertyName": {
                                                                "type": "string",
                                                                "example": "given_name",
                                                                "description": "The name of the data field as defined in your system."
                                                            },
                                                            "dataType": {
                                                                "type": "string",
                                                                "example": "STRING",
                                                                "description": "The type of this property. One of STRING, NUMBER, DATETIME, AVATAR_IMAGE.",
                                                                "enum": [
                                                                    "STRING",
                                                                    "NUMBER",
                                                                    "DATETIME",
                                                                    "AVATAR_IMAGE"
                                                                ],
                                                                "x-hubspot-external-project-origin": true
                                                            },
                                                            "targetHubspotProperty": {
                                                                "type": "string",
                                                                "example": "firstname",
                                                                "description": "The internal name of the HubSpot property to map to."
                                                            }
                                                        },
                                                        "description": "Defines a mapping between a property in your system and a property in the HubSpot CRM."
                                                    }
                                                }
                                            }
                                        },
                                        "contactSyncSettings": {
                                            "type": "object",
                                            "required": [
                                                "properties"
                                            ],
                                            "properties": {
                                                "properties": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "required": [
                                                            "dataType",
                                                            "propertyName",
                                                            "targetHubspotProperty"
                                                        ],
                                                        "properties": {
                                                            "propertyName": {
                                                                "type": "string",
                                                                "example": "given_name",
                                                                "description": "The name of the data field as defined in your system."
                                                            },
                                                            "dataType": {
                                                                "type": "string",
                                                                "example": "STRING",
                                                                "description": "The type of this property. One of STRING, NUMBER, DATETIME, AVATAR_IMAGE.",
                                                                "enum": [
                                                                    "STRING",
                                                                    "NUMBER",
                                                                    "DATETIME",
                                                                    "AVATAR_IMAGE"
                                                                ],
                                                                "x-hubspot-external-project-origin": true
                                                            },
                                                            "targetHubspotProperty": {
                                                                "type": "string",
                                                                "example": "firstname",
                                                                "description": "The internal name of the HubSpot property to map to."
                                                            }
                                                        },
                                                        "description": "Defines a mapping between a property in your system and a property in the HubSpot CRM."
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "example": {
                                        "dealSyncSettings": {
                                            "properties": [
                                                {
                                                    "propertyName": "order_total",
                                                    "dataType": "NUMBER",
                                                    "targetHubspotProperty": "amount"
                                                },
                                                {
                                                    "propertyName": "customer_id",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "hs_assoc__contact_ids"
                                                },
                                                {
                                                    "propertyName": "purchase_date",
                                                    "dataType": "DATETIME",
                                                    "targetHubspotProperty": "closedate"
                                                },
                                                {
                                                    "propertyName": "stage",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "dealstage"
                                                }
                                            ],
                                            "type": "object"
                                        },
                                        "importOnInstall": true,
                                        "lineItemSyncSettings": {
                                            "properties": [
                                                {
                                                    "propertyName": "order_id",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "hs_assoc__deal_id"
                                                },
                                                {
                                                    "propertyName": "product_id",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "hs_assoc__product_id"
                                                }
                                            ],
                                            "type": "object"
                                        },
                                        "contactSyncSettings": {
                                            "properties": [
                                                {
                                                    "propertyName": "given_name",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "firstname"
                                                },
                                                {
                                                    "propertyName": "family_name",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "lastname"
                                                },
                                                {
                                                    "propertyName": "email",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "email"
                                                }
                                            ],
                                            "type": "object"
                                        },
                                        "enabled": true,
                                        "productSyncSettings": {
                                            "properties": [
                                                {
                                                    "propertyName": "product_name",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "productname"
                                                },
                                                {
                                                    "propertyName": "imageUrl",
                                                    "dataType": "AVATAR_IMAGE",
                                                    "targetHubSpotProperty": "ip__ecomm_bridge__image_url"
                                                }
                                            ],
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An Error Occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "requestId",
                                        "status"
                                    ],
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error",
                                            "description": "The string \"error\""
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "An error occurred",
                                            "description": "A human readable message describing the error along with remediation steps where appropriate"
                                        },
                                        "requestId": {
                                            "type": "string",
                                            "example": "57b91660deded96e827d7ef9535988a5",
                                            "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                                            "pattern": "[a-zA-Z0-9]{32}"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "hapikey": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Settings"
                ],
                "description": "Update the sync settings for a given app or portal. This will update the settings for all portals with your app installed, and changes to properties will be applied within the next few hours. As an application developer, use your developer HAPI Key to make this request. As a customer developer, use your portal HAPI Key to make this request.",
                "operationId": "put-/extensions/ecomm/v1/settings",
                "parameters": [
                    {
                        "name": "showProvidedProperties",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "appId",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "contactSyncSettings",
                                        "dealSyncSettings",
                                        "enabled",
                                        "importOnInstall",
                                        "lineItemSyncSettings",
                                        "productSyncSettings"
                                    ],
                                    "properties": {
                                        "enabled": {
                                            "type": "boolean"
                                        },
                                        "importOnInstall": {
                                            "type": "boolean"
                                        },
                                        "productSyncSettings": {
                                            "type": "object",
                                            "required": [
                                                "properties"
                                            ],
                                            "properties": {
                                                "properties": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "required": [
                                                            "dataType",
                                                            "propertyName",
                                                            "targetHubspotProperty"
                                                        ],
                                                        "properties": {
                                                            "propertyName": {
                                                                "type": "string",
                                                                "example": "given_name",
                                                                "description": "The name of the data field as defined in your system."
                                                            },
                                                            "dataType": {
                                                                "type": "string",
                                                                "example": "STRING",
                                                                "description": "The type of this property. One of STRING, NUMBER, DATETIME, AVATAR_IMAGE.",
                                                                "enum": [
                                                                    "STRING",
                                                                    "NUMBER",
                                                                    "DATETIME",
                                                                    "AVATAR_IMAGE"
                                                                ],
                                                                "x-hubspot-external-project-origin": true
                                                            },
                                                            "targetHubspotProperty": {
                                                                "type": "string",
                                                                "example": "firstname",
                                                                "description": "The internal name of the HubSpot property to map to."
                                                            }
                                                        },
                                                        "description": "Defines a mapping between a property in your system and a property in the HubSpot CRM."
                                                    }
                                                }
                                            }
                                        },
                                        "dealSyncSettings": {
                                            "type": "object",
                                            "required": [
                                                "properties"
                                            ],
                                            "properties": {
                                                "properties": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "required": [
                                                            "dataType",
                                                            "propertyName",
                                                            "targetHubspotProperty"
                                                        ],
                                                        "properties": {
                                                            "propertyName": {
                                                                "type": "string",
                                                                "example": "given_name",
                                                                "description": "The name of the data field as defined in your system."
                                                            },
                                                            "dataType": {
                                                                "type": "string",
                                                                "example": "STRING",
                                                                "description": "The type of this property. One of STRING, NUMBER, DATETIME, AVATAR_IMAGE.",
                                                                "enum": [
                                                                    "STRING",
                                                                    "NUMBER",
                                                                    "DATETIME",
                                                                    "AVATAR_IMAGE"
                                                                ],
                                                                "x-hubspot-external-project-origin": true
                                                            },
                                                            "targetHubspotProperty": {
                                                                "type": "string",
                                                                "example": "firstname",
                                                                "description": "The internal name of the HubSpot property to map to."
                                                            }
                                                        },
                                                        "description": "Defines a mapping between a property in your system and a property in the HubSpot CRM."
                                                    }
                                                }
                                            }
                                        },
                                        "lineItemSyncSettings": {
                                            "type": "object",
                                            "required": [
                                                "properties"
                                            ],
                                            "properties": {
                                                "properties": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "required": [
                                                            "dataType",
                                                            "propertyName",
                                                            "targetHubspotProperty"
                                                        ],
                                                        "properties": {
                                                            "propertyName": {
                                                                "type": "string",
                                                                "example": "given_name",
                                                                "description": "The name of the data field as defined in your system."
                                                            },
                                                            "dataType": {
                                                                "type": "string",
                                                                "example": "STRING",
                                                                "description": "The type of this property. One of STRING, NUMBER, DATETIME, AVATAR_IMAGE.",
                                                                "enum": [
                                                                    "STRING",
                                                                    "NUMBER",
                                                                    "DATETIME",
                                                                    "AVATAR_IMAGE"
                                                                ],
                                                                "x-hubspot-external-project-origin": true
                                                            },
                                                            "targetHubspotProperty": {
                                                                "type": "string",
                                                                "example": "firstname",
                                                                "description": "The internal name of the HubSpot property to map to."
                                                            }
                                                        },
                                                        "description": "Defines a mapping between a property in your system and a property in the HubSpot CRM."
                                                    }
                                                }
                                            }
                                        },
                                        "contactSyncSettings": {
                                            "type": "object",
                                            "required": [
                                                "properties"
                                            ],
                                            "properties": {
                                                "properties": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "required": [
                                                            "dataType",
                                                            "propertyName",
                                                            "targetHubspotProperty"
                                                        ],
                                                        "properties": {
                                                            "propertyName": {
                                                                "type": "string",
                                                                "example": "given_name",
                                                                "description": "The name of the data field as defined in your system."
                                                            },
                                                            "dataType": {
                                                                "type": "string",
                                                                "example": "STRING",
                                                                "description": "The type of this property. One of STRING, NUMBER, DATETIME, AVATAR_IMAGE.",
                                                                "enum": [
                                                                    "STRING",
                                                                    "NUMBER",
                                                                    "DATETIME",
                                                                    "AVATAR_IMAGE"
                                                                ],
                                                                "x-hubspot-external-project-origin": true
                                                            },
                                                            "targetHubspotProperty": {
                                                                "type": "string",
                                                                "example": "firstname",
                                                                "description": "The internal name of the HubSpot property to map to."
                                                            }
                                                        },
                                                        "description": "Defines a mapping between a property in your system and a property in the HubSpot CRM."
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "example": {
                                        "dealSyncSettings": {
                                            "properties": [
                                                {
                                                    "propertyName": "order_total",
                                                    "dataType": "NUMBER",
                                                    "targetHubspotProperty": "amount"
                                                },
                                                {
                                                    "propertyName": "customer_id",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "hs_assoc__contact_ids"
                                                },
                                                {
                                                    "propertyName": "purchase_date",
                                                    "dataType": "DATETIME",
                                                    "targetHubspotProperty": "closedate"
                                                },
                                                {
                                                    "propertyName": "stage",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "dealstage"
                                                }
                                            ],
                                            "type": "object"
                                        },
                                        "importOnInstall": true,
                                        "lineItemSyncSettings": {
                                            "properties": [
                                                {
                                                    "propertyName": "order_id",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "hs_assoc__deal_id"
                                                },
                                                {
                                                    "propertyName": "product_id",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "hs_assoc__product_id"
                                                }
                                            ],
                                            "type": "object"
                                        },
                                        "contactSyncSettings": {
                                            "properties": [
                                                {
                                                    "propertyName": "given_name",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "firstname"
                                                },
                                                {
                                                    "propertyName": "family_name",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "lastname"
                                                },
                                                {
                                                    "propertyName": "email",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "email"
                                                }
                                            ],
                                            "type": "object"
                                        },
                                        "enabled": true,
                                        "productSyncSettings": {
                                            "properties": [
                                                {
                                                    "propertyName": "product_name",
                                                    "dataType": "STRING",
                                                    "targetHubspotProperty": "productname"
                                                },
                                                {
                                                    "propertyName": "imageUrl",
                                                    "dataType": "AVATAR_IMAGE",
                                                    "targetHubSpotProperty": "ip__ecomm_bridge__image_url"
                                                }
                                            ],
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An Error Occurred.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "message",
                                        "requestId",
                                        "status"
                                    ],
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error",
                                            "description": "The string \"error\""
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "An error occurred",
                                            "description": "A human readable message describing the error along with remediation steps where appropriate"
                                        },
                                        "requestId": {
                                            "type": "string",
                                            "example": "57b91660deded96e827d7ef9535988a5",
                                            "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                                            "pattern": "[a-zA-Z0-9]{32}"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "hapikey": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "contactSyncSettings",
                                    "dealSyncSettings",
                                    "enabled",
                                    "importOnInstall",
                                    "lineItemSyncSettings",
                                    "productSyncSettings"
                                ],
                                "properties": {
                                    "enabled": {
                                        "type": "boolean"
                                    },
                                    "importOnInstall": {
                                        "type": "boolean"
                                    },
                                    "productSyncSettings": {
                                        "type": "object",
                                        "required": [
                                            "properties"
                                        ],
                                        "properties": {
                                            "properties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "required": [
                                                        "dataType",
                                                        "propertyName",
                                                        "targetHubspotProperty"
                                                    ],
                                                    "properties": {
                                                        "propertyName": {
                                                            "type": "string",
                                                            "example": "given_name",
                                                            "description": "The name of the data field as defined in your system."
                                                        },
                                                        "dataType": {
                                                            "type": "string",
                                                            "example": "STRING",
                                                            "description": "The type of this property. One of STRING, NUMBER, DATETIME, AVATAR_IMAGE.",
                                                            "enum": [
                                                                "STRING",
                                                                "NUMBER",
                                                                "DATETIME",
                                                                "AVATAR_IMAGE"
                                                            ],
                                                            "x-hubspot-external-project-origin": true
                                                        },
                                                        "targetHubspotProperty": {
                                                            "type": "string",
                                                            "example": "firstname",
                                                            "description": "The internal name of the HubSpot property to map to."
                                                        }
                                                    },
                                                    "description": "Defines a mapping between a property in your system and a property in the HubSpot CRM."
                                                }
                                            }
                                        }
                                    },
                                    "dealSyncSettings": {
                                        "type": "object",
                                        "required": [
                                            "properties"
                                        ],
                                        "properties": {
                                            "properties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "required": [
                                                        "dataType",
                                                        "propertyName",
                                                        "targetHubspotProperty"
                                                    ],
                                                    "properties": {
                                                        "propertyName": {
                                                            "type": "string",
                                                            "example": "given_name",
                                                            "description": "The name of the data field as defined in your system."
                                                        },
                                                        "dataType": {
                                                            "type": "string",
                                                            "example": "STRING",
                                                            "description": "The type of this property. One of STRING, NUMBER, DATETIME, AVATAR_IMAGE.",
                                                            "enum": [
                                                                "STRING",
                                                                "NUMBER",
                                                                "DATETIME",
                                                                "AVATAR_IMAGE"
                                                            ],
                                                            "x-hubspot-external-project-origin": true
                                                        },
                                                        "targetHubspotProperty": {
                                                            "type": "string",
                                                            "example": "firstname",
                                                            "description": "The internal name of the HubSpot property to map to."
                                                        }
                                                    },
                                                    "description": "Defines a mapping between a property in your system and a property in the HubSpot CRM."
                                                }
                                            }
                                        }
                                    },
                                    "lineItemSyncSettings": {
                                        "type": "object",
                                        "required": [
                                            "properties"
                                        ],
                                        "properties": {
                                            "properties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "required": [
                                                        "dataType",
                                                        "propertyName",
                                                        "targetHubspotProperty"
                                                    ],
                                                    "properties": {
                                                        "propertyName": {
                                                            "type": "string",
                                                            "example": "given_name",
                                                            "description": "The name of the data field as defined in your system."
                                                        },
                                                        "dataType": {
                                                            "type": "string",
                                                            "example": "STRING",
                                                            "description": "The type of this property. One of STRING, NUMBER, DATETIME, AVATAR_IMAGE.",
                                                            "enum": [
                                                                "STRING",
                                                                "NUMBER",
                                                                "DATETIME",
                                                                "AVATAR_IMAGE"
                                                            ],
                                                            "x-hubspot-external-project-origin": true
                                                        },
                                                        "targetHubspotProperty": {
                                                            "type": "string",
                                                            "example": "firstname",
                                                            "description": "The internal name of the HubSpot property to map to."
                                                        }
                                                    },
                                                    "description": "Defines a mapping between a property in your system and a property in the HubSpot CRM."
                                                }
                                            }
                                        }
                                    },
                                    "contactSyncSettings": {
                                        "type": "object",
                                        "required": [
                                            "properties"
                                        ],
                                        "properties": {
                                            "properties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "required": [
                                                        "dataType",
                                                        "propertyName",
                                                        "targetHubspotProperty"
                                                    ],
                                                    "properties": {
                                                        "propertyName": {
                                                            "type": "string",
                                                            "example": "given_name",
                                                            "description": "The name of the data field as defined in your system."
                                                        },
                                                        "dataType": {
                                                            "type": "string",
                                                            "example": "STRING",
                                                            "description": "The type of this property. One of STRING, NUMBER, DATETIME, AVATAR_IMAGE.",
                                                            "enum": [
                                                                "STRING",
                                                                "NUMBER",
                                                                "DATETIME",
                                                                "AVATAR_IMAGE"
                                                            ],
                                                            "x-hubspot-external-project-origin": true
                                                        },
                                                        "targetHubspotProperty": {
                                                            "type": "string",
                                                            "example": "firstname",
                                                            "description": "The internal name of the HubSpot property to map to."
                                                        }
                                                    },
                                                    "description": "Defines a mapping between a property in your system and a property in the HubSpot CRM."
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "dealSyncSettings": {
[...]
